In [9]:

import pandas as pd
import warnings

warnings.filterwarnings("ignore")




def READ_EXCEL(FILE_PATH):

    FUNCTIONS, TABLE_NAMES      = [], []
    REFERENCE                   = pd.read_excel(FILE_PATH, sheet_name=0)

    for i in range(1,10):       FUNCTIONS.append(pd.read_excel(FILE_PATH, sheet_name=i))

    for a in range(len(REFERENCE['TABLE NAME'])): TABLE_NAMES.append(REFERENCE.at[a, 'TABLE NAME'])


    return TABLE_NAMES, FUNCTIONS

In [10]:



EXCEL_FUNCS_FOLDER                  = r'/Users/westhomas/Desktop/ALFRED/1__REPORT_AUTOMATION/REFERENCE_FILES/UPLOAD_TABLES/'
FILE_EXTRA                          = "AST"
EXCEL_FILE_NAME                     = 'AST_RAW_DATA_SQL_UPLOAD'


EXCEL_TEST_PATH                     = EXCEL_FUNCS_FOLDER + '/' + FILE_EXTRA + '/' + EXCEL_FILE_NAME + '.xlsx'
TABLE_NAMES, FUNCTIONS              = READ_EXCEL(EXCEL_TEST_PATH)

In [13]:
TABLE_NAMES

['tvfGetDT_P_ExpectedCreditLossProvision_By_Class',
 'tvfGetDT_P_InvestmentInitialInformation',
 'tvfGetDT_P_ELRvsSpecificProvisions_RawData',
 'tvfGetDT_P_Clientreporting_PortfolioPositions_SPAR',
 'tvfGetDT_P_FundamentalDataListing',
 'tvfGetDT_P_PortfolioInstrumentlisting_CreditFacility',
 'tvfGetDT_P_PortfolioPositionsListing',
 'tvfGetDT_P_FundamentalDataListing',
 'MANAGER_NAMING_MAP']

In [14]:
FUNCTIONS[0]

,pId,Portfolio,Name,AIDAID,Borrower Name,AIDAParentId,Platform,Manager,Loan Type,Sector,...,Total Provision (Base),Total Provision (Local),LXID/ISIN,European Legal Entity,Portfolio Position Source,Is Viridium Advisory,PathHash,IsGreater (General Provision),IsGreater (Specific Provision),IsGreater (Total Provision)
0,14,SC FPT Private Debt Fund LP (Freeport) - Class A1,Five Star Parks and Attractions (Freeport) - T...,98462,Five Star Parks and Attractions (Freeport),98461,US Onshore,FPT,Term Loan,Consumer Discretionary,...,15408.820188,15408.820188,98462,NaN,WF,No,9.67.14,No,No,No
1,14,SC FPT Private Debt Fund LP (Freeport) - Class A1,Five Star Parks and Attractions (Freeport) - R...,98463,Five Star Parks and Attractions (Freeport),98461,US Onshore,FPT,Revolving Credit Facility,Consumer Discretionary,...,-14.926527,-14.926527,98463,NaN,WF,No,9.67.14,Yes,No,Yes
2,14,SC FPT Private Debt Fund LP (Freeport) - Class A1,Five Star Parks and Attractions (Freeport) - D...,98464,Five Star Parks and Attractions (Freeport),98461,US Onshore,FPT,Delayed Drawn Term Loan,Consumer Discretionary,...,1040.581983,1040.581983,98464,NaN,WF,No,9.67.14,No,No,No
3,14,SC FPT Private Debt Fund LP (Freeport) - Class A1,Peoplease (TLC) (FPT) - Term Loan 1L,99122,Peoplease (FPT),85712,US Onshore,FPT,Term Loan,Industrials,...,31229.426894,31229.426894,99122,NaN,WF,No,9.67.14,No,No,No
4,14,SC FPT Private Debt Fund LP (Freeport) - Class A1,Peoplease (TLC) (FPT) - Revolver 1L,99129,Peoplease (FPT),85712,US Onshore,FPT,Revolving Credit Facility,Industrials,...,511.180540,511.180540,LX207917,NaN,WF,No,9.67.14,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,263,Apera European Private Debt Fund - Class A1,Sohonet (Apera) - Delayed Draw Term Loan 1L,84139,Sohonet (Apera),84137,European,Apera,Delayed Drawn Term Loan,Information Technology,...,0.222252,0.190012,LX193474,Lux Sarl,WF,No,9.67.263,No,No,No
799,263,Apera European Private Debt Fund - Class A1,Sohonet (Apera) - Delayed Draw Term Loan USD,85461,Sohonet (Apera),84137,European,Apera,Term Loan (EU late funding),Information Technology,...,1453.743160,1570.042612,85461,Lux Sarl,WF,No,9.67.263,No,No,No
800,263,Apera European Private Debt Fund - Class A1,Infratech BAU (Project Wide) (Apera) - Term Lo...,87830,Infratech BAU (Project Wide) (Apera),87829,European,Apera,Term Loan,Industrials,...,5026.777219,5026.777219,87830,Lux AIF,WF,No,9.67.263,No,No,No
801,263,Apera European Private Debt Fund - Class A1,Flore Participations (Apera) - Unitranche Term...,87995,Flore Participations Pinson Paysage (Apera),80523,European,Apera,Term Loan,Industrials,...,4256.233367,4256.233367,87995,Lux Sarl,WF,No,9.67.263,No,No,No
802,263,Apera European Private Debt Fund - Class A1,Flore Participations (Apera) - Acquisition DDT...,88012,Flore Participations Pinson Paysage (Apera),80523,European,Apera,Delayed Drawn Term Loan,Industrials,...,2708.512048,2708.512048,88012,Lux Sarl,WF,No,9.67.263,No,No,No

In [17]:
from SQL import SQL_DATA_SAVE, SQL_DATA_READ, CREATE_TABLES, DELETE_TABLES, LOAD_TABLES

DETAILS                           = {"POSTGRES_HOSTNAME"    : 'ENKIINVESTMENTS-186.postgres.eu.pythonanywhere-services.com',
                                     "POSTGRES_HOST_PORT"   : 10186,
                                     "SSH_USER_NAME"        : 'ENKIINVESTMENTS',
                                     "SSH_PASSWORD"         : 'BRYONYBUTTON0104',
                                     "USERNAME"             : "super",
                                     "PASSWORD"             : 'BRYONYBUTTON0104',
                                     "DB_NAME"              : 'myappdb',
                                     "HOST"                 : '127.0.0.1'}





#DELETE      = DELETE_TABLES(DETAILS, DROP_TABLE)
#CREATE      = CREATE_TABLES(DETAILS, TABLE_NAME, INPUT_CRITERIA)

#ERROR       = SQL_DATA_SAVE(INPUT_DF, TABLE_NAME, DETAILS)
#DB          = SQL_DATA_READ(TABLE_NAMES, DETAILS)
#TABLES      = LOAD_TABLES(DETAILS)

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
INPUT_CRITERIA      = ["TEST VARCHAR(255) NOT NULL"]

for NAME in TABLE_NAMES:
    CREATE      = CREATE_TABLES(DETAILS, NAME, INPUT_CRITERIA)

In [ ]:
INPUT_DF            = ""
DROP_TABLE          = "algo_list"
TABLE_NAMES         = "algo_list"

In [15]:
TABLES      = LOAD_TABLES(DETAILS)

NameError: name 'LOAD_TABLES' is not defined