In [53]:

from datetime import datetime, timedelta, date
from sqlalchemy import create_engine
import psycopg2 as pg
import pandas as pd
import sshtunnel
import warnings
import time
import os
import psycopg2

warnings.filterwarnings("ignore")


sshtunnel.SSH_TIMEOUT       = 5.0
sshtunnel.TUNNEL_TIMEOUT    = 5.0

In [54]:



class DELETE_TABLES():
    def __init__(self, DETAILS, DROP_TABLE):
        self.DETAILS                    = DETAILS
        self.DROP_TABLE                 = DROP_TABLE
        self.SQL                        = self.DELETE_TABLES()

    def DELETE_TABLES(self):
        with sshtunnel.SSHTunnelForwarder(
                    ('ssh.eu.pythonanywhere.com'),
                    ssh_username        = self.DETAILS['SSH_USER_NAME'],
                    ssh_password        = self.DETAILS['SSH_PASSWORD'],
                    remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])) as server:
            
            server.start()
            PORT                = server.local_bind_port
            params              = { 'database'  : self.DETAILS['DB_NAME'],
                                    'user'      : self.DETAILS['USERNAME'],
                                    'password'  : self.DETAILS['PASSWORD'],
                                    'host'      : self.DETAILS['HOST'],
                                    'port'      : PORT}

            conn                = psycopg2.connect(**params)
            cursor              = conn.cursor()
            SQL                 = f'''DROP TABLE {self.DROP_TABLE} '''

            cursor.execute(SQL)
            conn.commit() 
            conn.close()

        return SQL









class CREATE_TABLES():

    def __init__(self, DETAILS, TABLE_NAME):
        self.DETAILS                    = DETAILS
        self.TABLE_NAME                 = TABLE_NAME
        self.SQL                        = self.CREATE_TABLES()


    def CREATE_TABLES(self):

        with sshtunnel.SSHTunnelForwarder(
                    ('ssh.eu.pythonanywhere.com'),
                    ssh_username        = self.DETAILS['SSH_USER_NAME'],
                    ssh_password        = self.DETAILS['SSH_PASSWORD'],
                    remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])) as server:
            
            server.start()

            PORT                = server.local_bind_port
            params              = { 'database'  : self.DETAILS['DB_NAME'],
                                    'user'      : self.DETAILS['USERNAME'],
                                    'password'  : self.DETAILS['PASSWORD'],
                                    'host'      : self.DETAILS['HOST'],
                                    'port'      : PORT
                                }

            conn                = psycopg2.connect(**params)
            cursor              = conn.cursor()

            SQL                 = F"""
                                CREATE TABLE {self.TABLE_NAME} (
                                TEST VARCHAR(255) NOT NULL
                                )"""

            
            cursor.execute(SQL)
            conn.commit() 
            conn.close()
            print('all wrapped up')

        return SQL









class SQL_DATA_READ():

    def __init__(self, TABLE_NAME, DETAILS):
        self.TABLE_NAME                 = TABLE_NAME
        self.DETAILS                    = DETAILS
        self.DATA                       = self.SQL_DATA_READ()


    def SQL_DATA_READ(self):

        with sshtunnel.SSHTunnelForwarder(
                    ('ssh.eu.pythonanywhere.com'),
                    ssh_username        = self.DETAILS['SSH_USER_NAME'],
                    ssh_password        = self.DETAILS['SSH_PASSWORD'],
                    remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])

            ) as tunnel:
                try:
                        PORT                = tunnel.local_bind_port
                        ENGINE              = create_engine(f"postgresql://{self.DETAILS['USERNAME']}:{self.DETAILS['PASSWORD']}@{self.DETAILS['HOST']}:{PORT}/{self.DETAILS['DB_NAME']}")
                        print(self.TABLE_NAME)
                        DATA_DETAIL         = pd.read_sql_table(self.TABLE_NAME, ENGINE)

                except (Exception,  pg.DatabaseError) as error: print(error)


        return DATA_DETAIL











class SQL_DATA_SAVE():

    def __init__(self, INPUT_DF, TABLE_NAME, DETAILS):
        self.INPUT_DF               = INPUT_DF
        self.TABLE_NAME             = TABLE_NAME
        self.DETAILS                = DETAILS
        self.ERROR_LIST             = self.SQL_DATA_SAVE()


    def SQL_DATA_SAVE(self):

        ERROR_LIST                  = []

        with sshtunnel.SSHTunnelForwarder(
                    ('ssh.eu.pythonanywhere.com'),
                    ssh_username        = self.DETAILS['SSH_USER_NAME'],
                    ssh_password        = self.DETAILS['SSH_PASSWORD'],
                    remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])

            ) as tunnel:
            try:

                PORT                = tunnel.local_bind_port
                ENGINE              = create_engine(f"postgresql://{self.DETAILS['USERNAME']}:{self.DETAILS['PASSWORD']}@{self.DETAILS['HOST']}:{PORT}/{self.DETAILS['DB_NAME']}")

                if len(self.INPUT_DF) > 0:
                    try:            self.INPUT_DF.to_sql(self.TABLE_NAME, ENGINE, if_exists='replace', index=False)
                    except:         print('UNABLE TO UPLOAD DETAIL')


            except (Exception,  pg.DatabaseError) as error:
                        ERROR_LIST.append(error)

        return ERROR_LIST








class LOAD_TABLES():

    def __init__(self, DETAILS):
        self.DETAILS                    = DETAILS
        self.TABLES                     = self.LOAD_TABLES()


    def LOAD_TABLES(self):
        
        TABLES          = []
        EXCLUSIONS      = ['commitment', 'user_information', 'personal_algo', 'algo_list', 'backtest', 'diary', 'allocation', 'saved_trades', 'personal_trades', 'algo_balance', 'trade_history_file', 'developments']


        with sshtunnel.SSHTunnelForwarder(
                    ('ssh.eu.pythonanywhere.com'),
                    ssh_username        = self.DETAILS['SSH_USER_NAME'],
                    ssh_password        = self.DETAILS['SSH_PASSWORD'],
                    remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])) as server:
            
            server.start()

            PORT                = server.local_bind_port
            params              = { 'database'  : self.DETAILS['DB_NAME'],
                                    'user'      : self.DETAILS['USERNAME'],
                                    'password'  : self.DETAILS['PASSWORD'],
                                    'host'      : self.DETAILS['HOST'],
                                    'port'      : PORT
                                }

            conn                = psycopg2.connect(**params)
            cursor              = conn.cursor()
            

            cursor.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'""")
            
            for table in cursor.fetchall(): TABLES.append(table[0])
            TABLES = [item for item in TABLES if item not in EXCLUSIONS]

        return TABLES







class DROP_COLUMN():

    def __init__(self, DETAILS, TABLE_NAME, COLUMN_NAME):
        self.DETAILS                    = DETAILS
        self.TABLE_NAME                 = TABLE_NAME
        self.COLUMN_NAME                = COLUMN_NAME
        self.TABLES                     = self.DROP_COLUMN()

    def DROP_COLUMN(self):
        try:
            with sshtunnel.SSHTunnelForwarder(
                        ('ssh.eu.pythonanywhere.com'),
                        ssh_username        = self.DETAILS['SSH_USER_NAME'],
                        ssh_password        = self.DETAILS['SSH_PASSWORD'],
                        remote_bind_address = (self.DETAILS['POSTGRES_HOSTNAME'], self.DETAILS['POSTGRES_HOST_PORT'])) as server:
                
                server.start()

                PORT                = server.local_bind_port
                params              = { 'database'  : self.DETAILS['DB_NAME'],
                                        'user'      : self.DETAILS['USERNAME'],
                                        'password'  : self.DETAILS['PASSWORD'],
                                        'host'      : self.DETAILS['HOST'],
                                        'port'      : PORT
                                    }

                conn                = psycopg2.connect(**params)
                cursor              = conn.cursor()
                

                DROP_COL = f"ALTER TABLE {self.TABLE_NAME} DROP COLUMN {self.COLUMN_NAME};"
                cursor.execute(DROP_COL)
                

            # Commit the changes
            conn.commit()
            print(f"Column '{self.COLUMN_NAME}' has been dropped from the table '{self.TABLE_NAME}'.")

        except Exception as e:
            print(f"An error occurred: {e}")
        
        finally:
            # Close the cursor and connection
            cursor.close()
            conn.close()
        
        return self.DETAILS

In [28]:


def READ_EXCEL(FILE_PATH):

    FUNCTIONS, TABLE_NAMES                          = [], []
    REFERENCE                                       = pd.read_excel(FILE_PATH, sheet_name=0)

    for i in range(1,7):                           FUNCTIONS.append(pd.read_excel(FILE_PATH, sheet_name=i))
    for a in range(len(REFERENCE['TABLE NAME'])):   TABLE_NAMES.append(REFERENCE.at[a, 'TABLE NAME'])

    return TABLE_NAMES, FUNCTIONS

In [12]:

DETAILS                           = {"POSTGRES_HOSTNAME"    : 'ENKIINVESTMENTS-186.postgres.eu.pythonanywhere-services.com',
                                     "POSTGRES_HOST_PORT"   : 10186,
                                     "SSH_USER_NAME"        : 'ENKIINVESTMENTS',
                                     "SSH_PASSWORD"         : 'BRYONYBUTTON0104',
                                     "USERNAME"             : "super",
                                     "PASSWORD"             : 'BRYONYBUTTON0104',
                                     "DB_NAME"              : 'myappdb',
                                     "HOST"                 : '127.0.0.1'}

In [36]:

INPUT_CRITERIA                      = ["TEST VARCHAR(255) NOT NULL"]
EXCEL_FUNCS_FOLDER                  = r'/Users/westhomas/Desktop/ALFRED/1__REPORT_AUTOMATION/REFERENCE_FILES/UPLOAD_TABLES/'
FILE_EXTRA                          = "ESG"
EXCEL_FILE_NAME                     = 'ESG_RAW_DATA_SQL_UPLOAD'


EXCEL_TEST_PATH                     = EXCEL_FUNCS_FOLDER + '/' + FILE_EXTRA + '/' + EXCEL_FILE_NAME + '.xlsx'
TABLE_NAMES, FUNCTIONS              = READ_EXCEL(EXCEL_TEST_PATH)
FUNCTIONS[0]

,Name,Market Value,Unfunded,MV+Unfunded,% MV/NAV,% MV/Invested,% FF/FD,LX ID,Borrower Name,PortfolioId,...,SnP Rating,Moody's Rating,Capital Structure,PathHash,Fair Market Value (Local),Fair Market Value (Base),Fair Market Value,Price Markdown,Price (incl Markdown),Security Agent
0,"Capital Construction Holdings, LLC (TLCP Offsh...",4.157857e+06,0.000000,4.157857e+06,0.482967,0.983707,3.380000e-03,99094.0,Capital Construction Holdings,1136.0,...,NaN,NaN,First Lien Senior Loan,1139.1136,4.157857e+06,4.157857e+06,4.157857e+06,NaN,0.990097,LBC
1,"Capital Construction Holdings, LLC (TLCP Offsh...",6.886533e+04,215135.534297,2.840009e+05,0.007999,0.016292,2.300000e-04,99203.0,Capital Construction Holdings,1136.0,...,NaN,NaN,First Lien Senior Loan,1139.1136,6.886533e+04,6.886533e+04,6.886533e+04,NaN,0.990077,LBC
2,Cash Only,4.416298e+06,NaN,4.416298e+06,0.512987,NaN,3.590490e-03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Payables/Receivables/Fees,-3.405119e+04,NaN,-3.405119e+04,-0.003955,NaN,-2.768400e-05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other Holding Type,1.664000e+01,NaN,1.664000e+01,0.000002,NaN,1.400000e-08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
TABLE_NAMES

['tvfGetDT_P_PortfolioPositionsListing__31_03_2023',
 'tvfGetDT_P_PortfolioPositionsListing__30_06_2023',
 'tvfGetDT_P_PortfolioPositionsListing__30_09_2023',
 'tvfGetDT_P_PortfolioPositionsListing__31_12_2023',
 'tvfGetDT_P_ESG_Core_TESTING',
 'PAI_ATTRIBUTES']

In [46]:

for u in range(len(TABLE_NAMES)):   ERROR = SQL_DATA_SAVE(FUNCTIONS[u], TABLE_NAMES[u], DETAILS)

In [ ]:
DATA = []

for TABLE in TABLE_NAMES:   
    READ = SQL_DATA_READ(TABLE, DETAILS)
    DATA.append(READ.DATA)